@model IEnumerable<PrototypeA.Models.Diver>

@{
    ViewData["Title"] = "Index";
}

<h1>My Dive Team</h1>

<p>
    <a asp-action="Create"><i class="bi bi-plus-circle-fill"primary></i></a>
</p>
<table class="table">
    <thead>
        <tr class ="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="active">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle-fill"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
